@import "bootstrap/bootstrap";
@import "variables";
@import "bootswatch";
@import "fontawesome";
@import "bootstrap/utilities";

body {
  background-color: @grayDarker;
  color: @grayDark;
}

.dashboard-carousel {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: auto;
  height: 350px;
}

.bg-white {
  background-color: @bodyBackground;
  color: @textColor;
  padding-bottom: 15px;
  padding-top: 15px;
}

footer:before {
  content: " ";
  height: 2px;
  width: auto;
  display: block;
  background-color: @green;
  border-top: 2px solid @yellow;
  border-bottom: 2px solid @red;
}

footer {
  border-top: 2px solid @blue;
  font-size: 90%;
}

footer > .container {
  border-top:  2px solid @yellow;
  padding-top: 15px;
}

.attribution {
  text-align: center;
  color: darken(@orange, 50%);
}

footer:hover .attribution {
  color: @orange;
}
