<div class="span4 pane" xmlns="http://www.w3.org/1999/html">

<h2 class="clearfix text-purple">
    <span class="label label-info pull-left" style="margin-right:10px;">Code</span>
    Languages & People
</h2>

<p>Hi, I'm nanashiRei, a professional web developer focusing on client UI and everything related
    to HTML5. My most used languages are:</p>

<p>
    <span class="badge badge-info">HTML/CSS</span>
    <span class="badge badge-warning">SQL</span>
    <span class="badge badge-success">JavaScript</span>
    <span class="badge badge-important">PHP</span>
</p>

<p><strong>Hold on!</strong> These 4 languages are my favorites, but this doesn't mean i don't
    know other languages. In fact i know <span class="badge">much more!</span> I've been working
    with PHP since 2002 and created my first website back in 2003.</p>

<p>I've got some powerful backup in store, in case it's needed. Let me give you a brief overview.</p>

<p class="lead text-green">Neico,</p>

<p>is a skilled programmer that focuses on compiler languages. His motivation, above all other, is
    the desire to create games. But, like myself, he is a multitalent, doing his wizardry with:</p>

<p>
    <span class="badge badge-info">C++</span>
    <span class="badge badge-warning">Lua</span>
    <span class="badge badge-success">Java</span>
    <span class="badge badge-important">SQL</span>
</p>

<p>Basic HTML, CSS, JavaScript and PHP is no problem either, but he lacks experiance with them.</p>

<p><a href="http://neic0.de" class="disabled">Neico's Blog (inaktive)</a></p>

</div>
