<!DOCTYPE HTML>
<html lang="en-US" class="no-js">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }} - nanashiRei on GitHub</title>

    <link href="/css/github.css" rel="stylesheet">

    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#"><i class="icon-cogs"></i> nanashiRei's OSS</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active"><a href="/"><i class="icon-th-large"></i> Home</a></li>
                    <li><a href="http://ircbot.nanashirei.me"><i class="icon-beaker"></i> IrcBot</a></li>
                    <li><a href="http://nanashirei.me"><i class="icon-user"></i> My Blog</a></li>
                    <li><a href="http://get.nanashirei.me"><i class="icon-money"></i> Hire me!</a></li>
                </ul>
                <ul class="nav pull-right">
                    <li><a href="http://neic0.de"><i class="icon-search"></i> Neico</a></li>
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Socialize <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="icon-twitter"></i> Twitter</a></li>
                            <li><a href="#"><i class="icon-facebook"></i> Facebook</a></li>
                            <li><a href="#"><i class="icon-github"></i> GitHub</a></li>
                            <li><a href="#"><i class="icon-google-plus"></i> Google+</a></li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="icon-comment"></i> ICQ/MSN/Jabber</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.nav-collapse -->
        </div>
    </div><!-- /navbar-inner -->
</div>

<div class="bg-white">
    <div class="container">
        {{ content }}
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="span12"><a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.de"><img
                            alt="Creative Commons Lizenzvertrag" style="border-width:0"
                            src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png"/></a><br/><span
                            xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text"
                            property="dct:title" rel="dct:type">nanashiRei's OSS</span> von <a
                            xmlns:cc="http://creativecommons.org/ns#" href="http://nanashirei.me"
                            property="cc:attributionName" rel="cc:attributionURL">David Marner</a> steht unter einer <a
                            rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.de">Creative Commons
                        Namensnennung - Weitergabe unter gleichen Bedingungen 3.0 Unported Lizenz</a>.
            </div>
        </div>
        <div class="attribution">
            <h3>nanashiRei</h3>
        </div>
    </div>
</footer>

</body>
</html>
