<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }} - nanashiRei on GitHub</title>
    <link href="//netdna.bootstrapcdn.com/bootswatch/2.1.1/cosmo/bootstrap.min.css" rel="stylesheet">
    <!--//netdna.bootstrapcdn.com/bootswatch/2.1.1/cosmo/bootstrap.min.css-->
    <link href="//netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css" rel="stylesheet">
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container" style="width: auto;">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">nanashiRei's GitHub</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active"><a href="#">Dashboard</a></li>
                    <li><a href="#"><i class="icon-beaker"></i> IrcBot</a></li>
                    <li><a href="#"><i class="icon-user"></i> About me</a></li>
                    <li><a href="#"><i class="icon-arrow-right-sign"></i> YaS</a></li>
                </ul>
                <ul class="nav pull-right">
                    <li><a href="http://neic0.de">Neico</a></li>
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Socialize <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="icon-twitter"></i> Twitter</a></li>
                            <li><a href="#"><i class="icon-facebook"></i> Facebook</a></li>
                            <li><a href="#"><i class="icon-github"></i> GitHub</a></li>
                            <li><a href="#"><i class="icon-google-plus"></i> Google+</a></li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="icon-comment"></i> ICQ/MSN/Jabber</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.nav-collapse -->
        </div>
    </div><!-- /navbar-inner -->
</div>

<div class="container">
    <div class="page-header">
        <h1>{{ page.title }}</h1>
    </div>
    {{ content }}
</div>

</body>
</html>
