<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }} - nanashiRei on GitHub</title>

    <!--<link href="https://netdna.bootstrapcdn.com/bootswatch/2.1.1/cosmo/bootstrap.min.css" rel="stylesheet">-->
    <link href="/css/cosmos.min.css" rel="stylesheet">
    <link href="/css/fontawesome.css" rel="stylesheet">

    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#"><i class="icon-cogs"></i> nanashiRei's <i class="icon-github"></i> GitHub</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active"><a href="#"><i class="icon-th-large"></i> Dashboard</a></li>
                    <li><a href="#"><i class="icon-beaker"></i> IrcBot</a></li>
                    <li><a href="#"><i class="icon-user"></i> About me</a></li>
                    <li><a href="#"><i class="icon-arrow-right-sign"></i> YaS</a></li>
                </ul>
                <ul class="nav pull-right">
                    <li><a href="http://neic0.de"><i class="icon-search"></i> Neico</a></li>
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Socialize <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="icon-twitter"></i> Twitter</a></li>
                            <li><a href="#"><i class="icon-facebook"></i> Facebook</a></li>
                            <li><a href="#"><i class="icon-github"></i> GitHub</a></li>
                            <li><a href="#"><i class="icon-google-plus"></i> Google+</a></li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="icon-comment"></i> ICQ/MSN/Jabber</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.nav-collapse -->
        </div>
    </div><!-- /navbar-inner -->
</div>

<div class="bg-white">
    <div class="container">
        <div class="page-header">
            <h1>{{ page.title }}</h1>
        </div>
        {{ content }}
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="span3"></div>
            <div class="span3"></div>
            <div class="span3"></div>
            <div class="span3"></div>
        </div>
    </div>
</footer>

</body>
</html>
